.background {
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: cover;
    position:fixed;
    filter: blur(10px);
    transition: background 0.7s ease-in-out, filter 1.5s ease-in-out;
} 

.background.ghibli-background-start { 
    filter: blur(0);
}
