:root {
    --text-shadow: #d6bd69;
  }

.timer-container {
    transition: 0.7s ease-in-out;    
}

.timer-counter {
    color: beige;
    transition: 0.5s ease-in-out;
    text-shadow: 0 0 1em var(--text-shadow), 0 0 0.2em var(--text-shadow);
}

.start-timer {
    transform:  translate(0, 28em);
}

.idle-timer {
    transform:  translate(0);
}


#timer-sleep {
    font-size: 10em;
}

#timer-started {
    font-size: 5em;
}

.slider-container { 
    margin: 0 47em;
    margin-top: -2em;
}

.control-container {
    transition: 0.7s ease-in-out;    
}